USE [master]
GO
/****** Object:  Database [SalesOrder]    Script Date: 07/02/2021 17:27:29 ******/
CREATE DATABASE [SalesOrder]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SalesOrder', FILENAME = N'C:\Users\pasindu\SalesOrder.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SalesOrder_log', FILENAME = N'C:\Users\pasindu\SalesOrder_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SalesOrder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SalesOrder]
GO
USE [SalesOrder]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 07/02/2021 17:27:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[Address1] [nvarchar](200) NOT NULL,
	[Address2] [nvarchar](200) NULL,
	[Address3] [nvarchar](200) NULL,
	[Suburb] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 07/02/2021 17:27:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceNo] [int] IDENTITY(1,1) NOT NULL,
	[CustomerRefId] [int] NULL,
	[InvoiceDate] [smalldatetime] NOT NULL,
	[ReferenceNo] [int] NULL,
	[Note] [nvarchar](50) NULL,
	[TotalExcl] [numeric](18, 2) NULL,
	[TotalTax] [numeric](18, 2) NULL,
	[TotalIncl] [numeric](18, 2) NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItem]    Script Date: 07/02/2021 17:27:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItem](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceRefNo] [int] NOT NULL,
	[ItemRefCode] [int] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Note] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [numeric](18, 2) NOT NULL,
	[Tax] [numeric](18, 2) NOT NULL,
	[ExclAmount] [numeric](18, 2) NOT NULL,
	[InclAmount] [numeric](18, 2) NOT NULL,
	[TaxAmount] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_InvoiceItem] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 07/02/2021 17:27:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ItemCode] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[Price] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceRefNo_InvoiceNo] FOREIGN KEY([InvoiceRefNo])
REFERENCES [dbo].[Invoice] ([InvoiceNo])
GO
ALTER TABLE [dbo].[InvoiceItem] CHECK CONSTRAINT [FK_InvoiceRefNo_InvoiceNo]
GO
ALTER TABLE [dbo].[InvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_ItemRefCode_ItemCode] FOREIGN KEY([ItemRefCode])
REFERENCES [dbo].[Item] ([ItemCode])
GO
ALTER TABLE [dbo].[InvoiceItem] CHECK CONSTRAINT [FK_ItemRefCode_ItemCode]
GO
USE [master]
GO
