@page
@model Task1.Pages.UserFunctions.OrderListModel
@{
}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Bootstrap Design/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Bootstrap Design/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Bootstrap Design/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <title>Sales Order!</title>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">

                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Invoice Lists!</h1>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <a class="btn btn-primary btn-block" href="/UserFunctions/index" role="button">Add New </a>
                                </div>

                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-danger btn-block">Delete Row</button>
                                </div>
                            </div>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Invoice No:</th>
                                        <th>Customer Name</th>
                                        <th>Invoice Date</th>
                                        <th>Reference No:</th>
                                        <th>Note</th>
                                        <th>Total Excl:</th>
                                        <th>Total Tax:</th>
                                        <th>Total Incl:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

<script src="~/Bootstrap Design/vendor/jquery/jquery.min.js"></script>
<script src="~/Bootstrap Design/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Bootstrap Design/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/Bootstrap Design/js/sb-admin-2.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

<script>
    $(document).ready(function () {
        getInvoices();
        //deleteRows();
    });

    function getInvoices() {
        $.ajax({
            type: "GET",
            url: "/api/Invoices/GetInvoices",
            dataType: "json",
            beforeSend: function (xhdr) {
                xhdr.setRequestHeader(
                    "Authorization", "Bearer " + localStorage.getItem('Id_token'));
            }

        }).done(function (data, statusText, xhdr) {
            var invoiceData = data;
            var newData = invoiceData.data;
            for (i = 0; i < newData.length; i++) {
                var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + newData[i].invoiceNo + "</td><td>" + newData[i].customerRefId + "</td><td>" + newData[i].invoiceDate + "</td><td>" + newData[i].referenceNo + "</td><td>" + newData[i].note + "</td><td>" + newData[i].totalExcl + "</td><td>" + newData[i].totalTax + "</td><td>" + newData[i].totalIncl + "</td></tr>";
                $("table tbody").append(markup);
            }
        }).fail(function (xhdr, statusText, errorText) {
            $("#result").text(JSON.stringify(xhdr));
        });
    }

    function deleteRows() {
        $(".btn-danger").click(function () {
            $("table tbody").find('input[name="record"]').each(function () {
                if ($(this).is(":checked")) {
                    //$(this).parents("tr").remove();
                }
            });
        });
    }

</script>





